.header {
    background-color: #00B7D7;
    text-align: center;
    padding: 40px;
    min-height: 400px;
}

    .header h1 {
        padding: 20px;
        font-size: 3rem; /* Increased font size */
        color: white;
    }

    .header p {
        padding: 10px;
        font-size: 1.5rem; /* Increased font size */
        color: white;
    }

.jane-info, .sam-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 550px;
    position: relative;
}

.sam-profile {
    background-color: #00B7D7;
}

.sam-details h2 {
    color: white;
    font-size: 3rem; /* Increased font size */
    margin-top: 150px;
    margin-right: 400px;
    position: absolute;
    right: 2%;
}

.sam-details h3 {
    color: white;
    font-size: 1.75rem; /* Increased font size */
    margin-right: 400px;
    margin-top: 200px;
    position: absolute;
    right: 2%;
}

.sam-details p {
    color: white;
    font-size: 1.5rem; /* Increased font size */
    text-align: center;
    margin-top: 250px;
    padding-right: 400px;
}

.sam-image {
    border-radius: 50px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 100px;
    position: absolute;
    right: 2%;
}

.jane-details h2 {
    color: #3D9FFA;
    font-size: 3rem; /* Increased font size */
    padding-left: 40px;
    margin-top: 150px;
}

.jane-details h3 {
    font-size: 1.75rem; /* Increased font size */
    color: #3D9FFA;
    padding-left: 40px;
}

.jane-details p {
    margin-top: 60px;
    text-align: center;
    font-size: 1.5rem; /* Increased font size */
    color: #3D9FFA;
}

.jane-image {
    border-color: #3D9FFA;
    border-radius: 50px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: 100px;
    margin-left: 40px;
}
