@page "/create-profile"
@inject IJSRuntime JS

@inject CallejoSystemDbContext DbContext
@using BlazorApp.Data
@using BlazorApp.Models
@using Microsoft.AspNetCore.Components.Forms
@rendermode InteractiveServer

<h3>Create Profile</h3>

<EditForm Model="@newUser" OnSubmit="SaveProfile" FormName="CreateProfileForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>First Name:</label>
        <InputText @bind-Value="newUser.FirstName" class="form-control" />
    </div>

    <div>
        <label>Middle Name:</label>
        <InputText @bind-Value="newUser.MiddleName" class="form-control" />
    </div>

    <div>
        <label>Last Name:</label>
        <InputText @bind-Value="newUser.LastName" class="form-control" />
    </div>

    <div>
        <label>Address:</label>
        <InputText @bind-Value="newUser.Address" class="form-control" />
    </div>

    <div>
        <label>City:</label>
        <InputText @bind-Value="newUser.City" class="form-control" />
    </div>

    <div>
        <label>State:</label>
        <InputText @bind-Value="newUser.State" class="form-control" />
    </div>

    <div>
        <label>Zip Code:</label>
        <InputText @bind-Value="newUser.ZipCode" class="form-control" />
    </div>

    <div>
        <label>Role:</label>
        <InputNumber @bind-Value="newUser.FkRole" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Profile</button>
</EditForm>


    @code {

        private CallejoIncUser newUser = new CallejoIncUser();
        private async Task SaveProfile()


        {
        //test purposes 
        Console.WriteLine(newUser.FirstName);

        DbContext.CallejoIncUsers.Add(newUser);
        await DbContext.SaveChangesAsync();

        }
    }
}
 