.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto;
    

}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: rgba(143, 54, 255, 1);
    font-weight: 500;
    margin-bottom: 10px;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgba(143, 54, 255, 1);
    margin-bottom: 30px;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    max-width: 800px;
    margin-bottom: 50px;
}

.plans {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 20px;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 300px;
}

.plan-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 20px;
    border: 2px solid rgba(61, 159, 249, 1);
    margin-bottom: 20px;
}

.plan-button {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgba(143, 54, 255, 1);
    background: transparent;
    border: 2px solid rgba(143, 54, 255, 1);
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .plan-button:hover {
        background-color: rgba(143, 54, 255, 0.1);
    }
