@page "/login"

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="login-page">
    <div class="login-box">
        <h1>CALLEJO INC.</h1>
        <div class="login-form">
            <div class="input-header">Email Address</div>
            <div class="input-wrapper">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="email" />
            </div>
            <div class="input-header">Password</div>
            <div class="input-wrapper">
                <i class="fa fa-lock"></i>
                <input type="password" placeholder="password" />
            </div>
            <button class="login-btn">LOGIN</button>
            <a href="/create-profile" class="create-profile-link">Create Account</a>
            <a href="/forgot-password" class="forgot-password-link">Forgot password?</a>
        </div>
    </div>
</div>
