@page "/reset-password"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="reset-password-page">
    <div class="reset-password-box">
        @if (isTokenValid)
        {
            @if (!passwordChanged)
            {
                <h1>Reset Your Password</h1>
                <p>Please enter a new password for your account.</p>
                <div class="reset-password-form">
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <p style="color: red;">@errorMessage</p>
                    }
                    <div class="input-wrapper">
                        <input type="password" placeholder="New password" @bind="newPassword" />
                    </div>
                    <div class="input-wrapper">
                        <input type="password" placeholder="Confirm new password" @bind="confirmPassword" />
                    </div>
                    <button class="reset-btn" @onclick="SubmitResetPassword">Reset Password</button>
                </div>
            }
            else
            {
                <h1>PASSWORD UPDATED</h1>
                <p>Your password has been updated!</p>
                <a class="login-btn" href="/login">Login</a>
            }
        }
        else
        {
            <p>The reset link is invalid or has expired.</p>
        }
    </div>
</div>

@code {

    [Parameter] public string Token { get; set; }
    private bool isTokenValid = false;
    private string newPassword;
    private string confirmPassword;
    private string errorMessage;
    private bool passwordChanged = false;

    protected override void OnInitialized()
    {
        // validate the token by making an API call to the server
        var uri = new Uri(Navigation.Uri);
        var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

        if (queryParams.TryGetValue("token", out var token))
        {
            Token = token;
            ValidateToken(Token);
        }
    }

    private async Task SubmitResetPassword()
    {
        errorMessage = "";
        if (string.IsNullOrEmpty(newPassword) && string.IsNullOrEmpty(confirmPassword))
        {
            errorMessage = "Both fields are required";
            return;
        }
        if (string.IsNullOrWhiteSpace(newPassword) || string.IsNullOrWhiteSpace(confirmPassword))
        {
            errorMessage = "Fields cannot be empty or contain only spaces.";
            return;
        }
        if (newPassword != confirmPassword)
        {
            errorMessage = "Passwords do not match";
            return;
        }
        passwordChanged = true;
    }
    private async Task ValidateToken(string token)
    {
        // make API call to validate the token
        if (token == "123")
        {
            isTokenValid = true;
        }
        else
        {
            isTokenValid = false;
        }
    }
}