@page "/about"

<div class="header">
    <div class="overlay">
        <h1>Meet Our Team</h1>
        <p>
            At Callejo Inc. Childcare, our passionate and experienced team is dedicated to
            providing a nurturing and enriching environment for your child.
        </p>
    </div>
</div>

<div class="page-wrapper">
    <div class="text-box">
        <div class="top-section">
            <div class="text-info">
                <h1 class="name-title">Jane Callejo</h1>
                <h2 class="position-title">Founder & CEO</h2>
            </div>
            <div class="image-container">
                <img src="images/Jane_headshot.jpg" alt="Jane Callejo" class="client-image" />
            </div>
        </div>
        <p class="description">
            Jane Callejo has been working with children of infant, toddler, and preschool ages since 1991.
            At California State University, Sacramento, Jane worked at the childcare center as a student
            assistant for 3 years, assisting in providing care for admitted children at the center while
            pursuing a BA Degree in Art Education. After graduating, Jane continued to work in the childcare
            field until becoming a stay-at-home mom after becoming a mother of two. In 2005, Jane obtained a
            Family Childcare license and started a business in childcare. Today, Jane is a highly accomplished
            woman in not only her highly successful childcare business but in other fields as well, obtaining
            her certification as a nursing assistant in 2016 and managing two rental homes in her rental business.
            She is also currently working on an Airbnb business in the Philippines.
        </p>
    </div>
    <div class="text-box">
        <div class="top-section">
            <div class="text-info">
                <h1 class="name-title">Samuel Callejo</h1>
                <h2 class="position-title">Co-CEO</h2>
            </div>
            <div class="image-container">
                <img src="images/sam_headshot.jpg" alt="Sam Callejo" class="client-image" />
            </div>
        </div>
        <p class="description">
            Sam Callejo has been co-founder of Callejo inc. and married to Jane for over 20 years, 
            supporting her since her Sac State years. He graduated from the Virginia Military Institute
            (VMI) in 1988 and served as a second lieutenant in the Air Force up until the end of the
            Cold War. Since then, he has dealved into the technology industry, particularly
            teaching as an adjunct Computer Science professor at Sac State and working in various 
            private and public positions as a Software Developer. Today, he has become a highly accomplished,
            developer, working for both SMUD and the Governer's Office and supporting Jane's childcare
            business and Callejo inc. as a whole wherever needed. 
        </p>
    </div>
</div>