@page "/about"

<div class="header">
    <div class="overlay">
        <h1>Meet Our Team</h1>
        <p>
            At Callejo Inc. Childcare, our passionate and experienced team is dedicated to 
            providing a nurturing and enriching environment for your child.
        </p>
    </div>
</div>

<div class="page-wrapper">
    <div class="text-box">
        <div class="top-section">
            <div class="text-info">
                <h1 class="name-title">Jane Callejo</h1>
                <h2 class="position-title">Founder & CEO</h2>
            </div>
            <div class="image-container">
                <img src="images/Jane_headshot.jpg" alt="Jane Callejo" class="jane-image" />
            </div>
        </div>
        <p class="description">
            Jane Callejo has been working with children of infant, toddler, and preschool ages since 1991.
            At California State University, Sacramento, Jane worked at the childcare center as a student
            assistant for 3 years, assisting in providing care for admitted children at the center while
            pursuing a BA Degree in Art Education. After graduating, Jane continued to work in the childcare
            field until becoming a stay-at-home mom after becoming a mother of two. In 2005, Jane obtained a
            Family Childcare license and started a business in childcare. Today, Jane is a highly accomplished
            woman in not only her highly successful childcare business but in other fields as well, obtaining
            her certification as a nursing assistant in 2016 and managing two rental homes in her rental business.
            She is also currently working on an Airbnb business in the Philippines.
        </p>
    </div>
</div>
