@page "/about"

<div class="team-section">
    <div class="header">
        <h1>Meet our team!</h1>
        <p>At Jane Callejo's Childcare, our passionate and experienced team is committed to <br />
            providing a nurturing and enriching environment for your child.</p>
    </div>

    <div class="jane-profile">
        <div class="jane-info">
            <img src="images/Placeholder.png" alt="Jane Callejo" class="jane-image" />
            <div class="jane-details">
                <h2>Jane Callejo</h2>
                <h3>Founder & CEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>

    <div class="sam-profile">
        <div class="sam-info">
            <img src="images/Placeholder.png" alt="Sam Callejo" class="sam-image" />
            <div class="sam-details">
                <h2>Sam Callejo</h2>
                <h3>Founder & CEO</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>
