body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.full-width-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    min-height: 70vh;
    padding: 14px;
}

.header {
    color: white;
    background-color: #00A5C7;
    padding: 40px;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    min-height: 400px;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-left: 1%;
}

.header h1{
    font-size: 3rem;
}
.header h2{
    font-style:italic;
    font-size: 2rem;
}
.text-section {
    margin-left:1%;
    width: 90%; 
    padding-right: 20px; 
    font-size:1.2rem;
    text-align:left;
}

.image-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00B7D7;
}

.jane-image {
    width: 50%;
    height: auto;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media (max-width: 768px) {
    .full-width-container{
        display:flex;
        flex-direction:column;
    }
    .text-section,
    .image-section {
        width: 100%; 
        margin-left: 0; 
        padding-right: 1%; 
        padding-left: 1%;
        text-align: left; 
        font-size: .8rem;
    }

    .header {
        margin: 2% 0; 
        text-align:center;
        padding-bottom:2%;
    }

        .header h1 {
            font-size: 2rem; 
        }

        .header h2 {
            font-size: 1.2rem; 
        }
}



