@page "/admin-contact"
@layout BlazorApp.Client.Layout.AdminLayout
<h1>Inquiries</h1>
<!------
the @model directive is not working for some reason,
preventing model binding from working.
-------->

<!------<h2>Inquiries Page</h2>

<h2>Inquiries from: </h2>
<p><strong>Name:</strong> @ViewData["Message"]</p>
------>