@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<div class="content">
    <div class="grid">
        <!-- Company Facts -->
        <div class="card">
            <h5>Company Facts</h5>
            <p>Employees</p>
            <div>
                <!-- Placeholder for chart component -->
                <p>Employee List (2024)</p>
            </div>
            <ul>
                <br />
                <br />
                <br />
                <br />

            </ul>
        </div>

        <!-- Statistics -->
        <div class="card">
            <h5>Statistics</h5>
            <p>Projects by account</p>
            <div>
            </div>
            <ul>
                <li>Nothing to report.</li>
                <br />
                <br />
                <br />
                <br />

            </ul>
        </div>

        <!-- Assigned Risks -->
        <div class="card">
            <h5>Assigned Risks</h5>
            <p>There are no risks assigned.</p>
        </div>

        <!-- Assigned Action Items -->
        <div class="card">
            <h5>Assigned Action Items</h5>
            <p>There are no action items assigned.</p>
        </div>
    </div>
</div>