@page "/admin-contact"
@layout BlazorApp.Client.Layout.AdminLayout
<h1>Inquiries</h1>
<!------

the @model directive Inquiries not working for some reason,
preventing modelbinding from working.
-------->

<!------<h2>Inquiries Page</h2>

<p>Thank you for submitting your details.</p>
<p><strong>Name:</strong> @ViewData["Message"]</p>
------>