@page "/contact"

<PageTitle>About</PageTitle>
<!--Move all styles attributes into separate css file later...-->
<!--Inital Contact Us message-->
<div style="background-color: #00B7D7; padding: 120px 0; text-align:center">
    <div style="max-width: 900px; margin: auto; display: flex; align-items: center; gap: 20px;">
        <div style="flex: 2; text-align:center;">
            <h1 style="color: white; font-family: 'Roboto', sans-serif; text-align:center;font-weight:bold">Get in Touch with Us Today!</h1><br />
            <p style="color: white; font-family: 'Roboto', sans-serif; text-align:center; font-size:25px">We're here to answer any questions you have about our childcare <br />services. Whether you're interested in enrolling your child or have specific<br /> inquiries, we'd love to hear from you. Fill out the form below and one of our staff members will get back to you shortly!</p>

        </div>

    </div>
</div>
<!--All forms and labels for contact-->
<div style="text-align:center;font-family: Arial, sans-serif; margin: auto; color: black;font-family: 'Roboto', sans-serif;">
    <br /><br />
    <h2 style=" font-weight:bold">Get Started today!</h2><br />
    <div>
        <form>
            <label for="fname">Name:</label><br>
            <input type="text" id="fname" name="fname" style="width:75%; text-align"><br><br />
            <label for="phone">Phone Number:</label><br />
            <input type="text" id="phone" name="phone">
            <br /><br />
            <label for="email">Email</label><br>
            <input type="text" id="email" name="email">
            <br /><br />
            <label for="reason">Reason for Inquiry:</label><br>
        </form>
        <textarea name="reason" rows="10" cols="60" style="resize:none"></textarea>
    </div>
    <br />
    <h3>Click here to read the Parent/Provider Contract.</h3>
    <br />
    <h3>Click here to read the licensing agreement.</h3><br />
    <input type="submit" style="background-color:orange; border-style:none" />
</div>
