@page "/Enrollment"

<div class="page-wrapper">
    <h1 class="title">Enrollment Plans</h1>
    <h3 class="subtitle">Ready for a new approach?</h3>
    <p class="centered-bold-text">For enrollment plans, there are two steps:</p>

    <div class="box">
        <p class="box-title">Step 1</p>
        <p class="description">
            Fill out & sign the California Department of Social Services Community Care licensing forms. These include:
        </p>
        <ul>
            <li>
                Identification and emergency information
                <a href="https://www.cdss.ca.gov/Portals/9/Additional-Resources/Forms-and-Brochures/2019/I-L/LIC700.pdf?ver=2019-10-24-143032-763">(LIC 700)</a>
            </li>
            <li>
                Child's pre-admission of health history
                <a href="https://www.cdss.ca.gov/Portals/9/FMUForms/I-L/LIC702.pdf?ver=2017-07-16-155553-713">(LIC 702)</a>
            </li>
            <li>
                Consent for Emergency Medical Treatment
                <a href="https://www.cdss.ca.gov/cdssweb/entres/forms/english/lic627.pdf">(LIC 627)</a>
            </li>
            <li>
                Parent Notification Additional Children in Care
                <a href="https://www.cdss.ca.gov/cdssweb/entres/forms/English/LIC9150.pdf">(LIC 9150)</a>
            </li>
            <li>
                Family Childcare Home Notification of Parents Rights
                <a href="https://www.cdss.ca.gov/cdssweb/entres/forms/english/lic995a.pdf">(LIC 995A)</a>
            </li>
            <li>Provide California School Immunization Record</li>
        </ul>
    </div>

    <div class="box">
        <p class="box-title">Step 2</p>
        <p class="description">
            Sign a contract & acknowledge receipt of policies and procedures.
        </p>
    </div>

    <div class="plans">
        <!-- Plan #1 -->
        <div class="plan">
            <img src="/images/artwork1.jpg" alt="Plan 1 Image" class="plan-image" />
        </div>

        <!-- Plan #2 -->
        <div class="plan">
            <img src="/images/books_and_toys1.jpg" alt="Plan 2 Image" class="plan-image" />
        </div>
    </div>
</div>