@page "/"
@inject UserSessionService UserSession
@inject NavigationManager Navigation

@if (UserSession.UserIsLoggedIn)
{
   
}
else
{
    <div class="full-width-container">
        <div class="welcome-section">
             <div class="button-section">
                <h1>WELCOME TO CALLEJO INC.! WHERE PLAY, LEARNING, AND GROWTH COME TOGETHER FOR YOUR CHILD'S HAPPINESS.</h1>
                <button class="learn-button">Learn More</button>
             </div>
             
              <img src="images/welcome.png" alt="welcome" class="welcome-image" />
             
            
        </div>
     
    </div>

    <div class="info-section">
        <h2>The Right Choice For Your Family</h2>
        <h3>ignite your childs development to new heights!</h3>
        <p>
            We firmly believe that a play-based childcare is a source for a safe, stress-free, no-fear, or no-punishment enviornment.
            Our approach centers around building positive relationships and meeting our clients exactly where they are
            in their unique journeys. By creating a welcoming environment where a play-based enviornment is fun and exciting, we open
            up the space for meaningful growth to occur. We understand that when a play-based enviornment is enjoyable, it becomes a
            catalyst for progress. This allows each child to thrive and reach their full potential.
        </p>
        <div class="image-section">
            <div class="connect-container">
                <img src="images/connect.png" alt="connect" class="connect-image" />
                <header h4> connect</header>
            </div>
            <div class="play-container">
                <img src="images/play.png" alt="play" class="play-image" />
                <header h5>play</header>
            </div>
            <div class"grow-container">
                <img src="images/grow.png" alt="grow" class="grow-image" />
                <header h6>grow</header>
            </div>
        </div>
        
        <button class="details-button">Get more details</button>

    </div>
}

