@page "/login"

@using System.ComponentModel.DataAnnotations
@using BlazorApp.Client.Services
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Mvc
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authorization;
@using System.Text.Json;
@using Common.View;
@inject LoginService LoginService
@rendermode InteractiveServer

@inject NavigationManager Navigation
@inject UserSessionService UserSession
@inject IJSRuntime JSRuntime
@inject CustomAuthenticationStateProvider AuthenticationStateProvider

@using System.Text.Json.Serialization;

<PageTitle>Login</PageTitle>

<div class="login-page">
    <div class="login-box">
        <h1>CALLEJO INC.</h1>
        <div class="login-form">
            <EditForm Model="loginInfo" OnValidSubmit="HandleLogin">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="input-header">Email Address</div>
                <div class="input-wrapper">
                    <i class="fa fa-user"></i>
                    <InputText @bind-Value="loginInfo.Email" placeholder="Email" />
                </div>

                <div class="input-header">Password</div>
                <div class="input-wrapper">
                    <i class="fa fa-lock"></i>
                    <InputText @bind-Value="loginInfo.Password" type="password" placeholder="Password" />
                </div>

                <button class="login-btn" type="submit">LOGIN</button>
            </EditForm>

            @if (!loginState)
            {
                <p style="color:red">@errorMessage</p>
            }
        </div>
    </div>
</div>
