@page "/mission"

<!-- Mission statement -->
<div class="mission">
    At Callejo inc. Childcare, Our mission is to provide a safe, nurturing, and stimulating environment where children can 
    learn and grow through play and exploration. 
</div>

<!-- Main content with cards -->
<div class="container my-5">
    <div class="row">

        <!-- Home Based Card -->
        <div class="col-md-4">
            <div class="card">
                <img src="images/home-based.png" class="card-img-top" alt="Home Based">
                <div class="card-body">
                    <h5 class="card-title">Home Based</h5>
                    <p class="card-text">
                        Providing play-based services in the home allows us to work with your child in their natural environment.
                    </p>
                </div>
            </div>
        </div>

        <!-- School Based Card -->
        <div class="col-md-4">
            <div class="card">
                <img src="images/school-based.png" class="card-img-top" alt="School Based">
                <div class="card-body">
                    <h5 class="card-title">School Based</h5>
                    <p class="card-text">
                        We have extensive experience providing basic school curriculum that aligns with your child's age group.
                    </p>
                </div>
            </div>
        </div>

        <!-- Parent Support Card -->
        <div class="col-md-4">
            <div class="card">
                <img src="images/parent-training.png" class="card-img-top" alt="Parent Training">
                <div class="card-body">
                    <h5 class="card-title">Parent Support</h5>
                    <p class="card-text">
                        We provide continual parental support for the families of admitted children by caring for
                        their children during the day while they work to make a living. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
