@page "/UnauthorizedAccess"
@inject UserSessionService UserSession

<div class="full-width-container">
    <h1 class="header"> Unauthorized Access</h1>
    <p class="p1"> Only Admins can view this page</p>
    <p class="p2"> Please log sign-in to an Admin account and try again</p>
    
</div>

