<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link href="_content/Syncfusion.Blazor.Themes/bootstrap5.css" rel="stylesheet" />
    <link rel="stylesheet" href="BlazorApp.styles.css" />

    

    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    @* EC <MudThemeProvider>
        <MudLayout>
            <MudContainer>
                <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
            </MudContainer>
        </MudLayout>
    </MudThemeProvider>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script> *@
    <script src="scripts.js"></script>
</body>

</html>
